.tag {
    border-radius: 10px;
    background: #FF6060;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 3px 20px 2px 20px;
}