
.thumbs {
    border-radius: 25px;
    background-color: #F6F6F6;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%; 
}

@media (max-width: 768px) {
    .thumbs{
        border-radius: 0px;
        background-color: unset;
        padding: 0px;
        margin-top: 27px;
        margin-bottom: 27px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}