.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 50px;
    &__logo {
        width: 210px;
        height: 68px;
    }
    &__nav {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin: 0;
        }
        li {
            width: 136px;
            color: #000;
            text-align: right;
            font-family: Montserrat, sans-serif;
            font-size: 24px;
            font-weight: 500;
        }
        li:active, li:hover {
            text-decoration-line: underline;
        }
    }
}