.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 29px;
    background-color: black;
    flex-direction: column;
    &__logo {
        color: #ffffff;
        margin-bottom: 28px;
        width: 122px;
        height: 40px;
    }
    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 66px 115px 58px 117px;
        &__logo {
            margin-bottom: 8px;
        }
        &__copyright {
            font-size: 12px;
            font-weight: 500;
        }
    }
}