.Error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    margin-top: 139px;
    margin-bottom: 139px;
    &__title {
        color: #FF6060;
        text-align: center;
        height: 263px;
        font-size: 288px;
        font-weight: 700;
    }
    &__text {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
    }
    &__link {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;
    }
}

@media (max-width: 768px) {
    .Error-container {
        gap: 113px;
        margin-top: 113px;
        margin-bottom: 113px;
        &__title {
            height: 99px;
            font-size: 96px;
        }
        &__text {
            font-size: 18px;
        }
        &__link {
            font-size: 14px;
        }
    }
}